# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart

# Environment-specific
.env
.env.*

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.jks

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.generated/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/.generated/

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc

# Web
web/.dart_tool/

# Coverage
coverage/

# IDEs
.idea/
.vscode/
*.iml

# Misc
*.log
*.lock
*.tmp
*.swp
*.DS_Store
*.bak

# Firebase/Crashlytics
firebase_app_id_file.json
google-services.json
ios/Runner/GoogleService-Info.plist